/* app css stylesheet */

body {
  background-color:#3366cc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid yellowgreen;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}




  .topBorder {
    height : 20%;
    left   : 15%;
    width  : 85%;
    position: fixed;
    z-index: 1;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to left, rgba(51, 102, 204,1.0), rgba(255, 102, 102,1.0));
    overflow-y: hidden;
    transition: 0.5s;
  }  
 
  .dashTable {
  position : fixed;
  text-align : center;
  left : 17.5%;
  top  : 25%;
  height : 60%;
  width  : 50%;
  background-color : #ebf5d6;
  overflow-y: scroll;
  overflow-x: hidden;
 }

 .dashTable p {
 margin : 0px 0px 0px 0px;
 top : 0px;
 height : 15%;
 width : 100%;
 font-size : 30px;
 }

.dashTable table {
table-layout:fixed;
width : 100%;
border : 1px solid black;
overflow : scroll;
}

.dashTable td th {
width : 33%;
border : 1px solid black;
}

.dashTable table tr:nth-child(odd) {
  background: rgba(255.0,255.0,255.0,0.5);
}

.dashTable table tr:nth-child(even) {
   background: rgba(0.0,0.0,0.0,0.0);
}

 .dashTable button {
  margin : 0px 0px 0px 0px;
  width : 33.3333%;
  float : left;
   border : solid white;
   border-width : 2px 1px 2px 1px;
   border-bottom-left-radius: 10%;
   border-bottom-right-radius: 10%;
  }
  .dashList {
  overflow-y : scroll;
  align : center;
  position : fixed;
  text-align : center;
  left : 70%;
  top  : 25%;
  height : 60%;
  width  : 22.5%;
   background-color : #ffffe6;
 }

 .dashList p {
 margin : 0px 0px 0px 0px;
 top : 0px;
 height : 15%;
 width : 100%;
 font-size : 30px;
 }
 
 .dashList a {
 width : 80%;
 border-bottom : 1px solid black;
 width : 100%;
 height : 20%;
 font-size : 24px;
 line-height : 80px;
 display : block;
 background-color : rgba(255.0,255.0,255.0,1.0);
 }
 .dashList a:hover {
 background-color : rgba(0.0,0.0,0.0,0.5);
 transition : 0.5s;
 } 

  .topBorder p {
  position : relative;
  left : 5%;
  width : 95%;
  font-size : 48px;
  line-height : 48px;
 }

  .mascot {
  top: 0px;
  left: 0px;
  width: 15%;
  height: 20%;
  position: fixed;
  }

.sidenav {
    align : center;
    height: 80%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 20%;
  background: linear-gradient(to top, rgba(51, 102, 204,1.0), rgba(255, 102, 102,1.0));
    overflow-x: hidden;
    transition: 1.0s;
}

.sidenav a {
    text-align: center;
    overflow : hidden;
    text-decoration: none;
    white-space: nowrap;
    width : 100%;
    height : 21.85%;
    text-overflow: ellipsis;
    color: #FFFFFF;
    display: block;
    transition: 0.1s;
}

.sidenav img {
	margin-top : 5%;
	height : 60%;
	width : 60%;
}
.sidenav p {
	margin-top : 2%;
	height : 35%;
	width : 100%;
        background: radial-gradient(closest-side, rgba(0, 0, 0,0.0), rgba(0, 0, 0,0.25));
}
.sidenav a:hover {
    color: #000000;
}

  .bg {
  -moz-box-shadow:    inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow:         inset 0 0 20px #000000;
  height : 70%;
  width  : 80%;
  top    : 20%;
  left   : 15%;
  background-color : #cce699;
  position : fixed;
  z-index : -1;
  }

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
}