<div ng-app="studentdash" ng-controller="studentCtrl">
  <div class="background1">
    <!--Sidebar content-->
    <div class="mascot">
      <img src="img/mascot.png" alt="mascot" width="100%" height="100%" />
    </div>
    <div id="topBorder" class="topBorder">
      <p>Welcome, {{user.firstName}} {{user.surName}}</span>
      </p>
    </div>
    <div id="mySidenav" class="sidenav">
      <a onclick="toggleMenu()">
        <img src="img/plus.png" alt="Math Icon" />
        <p>Math Menu</p>
      </a>
      <a href="#!/Settings">
        <img src="img/settings.png" alt="Settings Icon" />
        <p>Settings</p>
      </a>
      <a id="addStudents" onclick="addStudents()">
        <img src="img/plus.png" alt="Math Icon" />
        <p>Add Me To A Class</p>
      </a>

      <div id="addStudentsModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2 style="text-align:center">
              <strong>Add Me to a Class</strong>
            </h2>
          </div>
          <div class="modal-body">
            <p style="text-align:center">To be added to a class, click 'Generate Code' below, then show the code to your teacher.</p>
            <form style="text-align:center">
              <div class="form-actions">
                <button id="generateCode" onclick="getRandCode(); this.disabled = true;">Generate Code</button>
              </div>
              <p id="code"></p>
            </form>
          </div>
          <div class="modal-footer">
            <h3></h3>
          </div>
        </div>
      </div>

      <a onclick="logout()">
        <img src="img/logout.png" alt="Logout Icon" />
        <p>Logout</p>
      </a>
    </div>

    <div id="mathSB" class="extendsidenav" style="left:10%;border-left:0px solid black;width:10%;opacity:0;">
      <a href="#!/MathFacts/0/9/1/1/9/1/1">
        <img src="img/plus.png" alt="Math Icon" />
        <p>Math Facts</p>
      </a>
      <a href="#!/MathFacts/0/999/100/1/500/100/2">
        <img src="img/plus.png" alt="Math Icon" />
        <p>Multi-Digit</p>
      </a>
      <a href="#!/Measurement">
        <img src="img/plus.png" alt="Math Icon" />
        <p>Measurement</p>
      </a>
    </div>
    <div id="bg" class="bg">
      <div class="dashTable">
        <p>Progress Report</p>
        <button>Best Categories</button>
        <button>Best To Practice</button>
        <button>Most Practiced</button>
        <table class="statsTable" style="width:100%">
          <tr>
            <th>Date Completed</th>
            <th>Problem Set</th>
            <th>Score</th>
          </tr>
          <tr ng-repeat="x in completePS">
            <td>{{x.timeStamp}}</td>
            <td>{{x.problemType}}</td>
            <td>{{x.totalCorrect*100/x.totalProblems}}%</td>
          </tr>
        </table>
      </div>

      <div class="dashList">
        <p>Problem Sets</p>
        <a href="#!/MathFacts/0/9/1/1/9/1/1">MathFact</a>
        <a href="#!/MathFacts/0/999/100/1/999/100/1">Addition</a>
        <a href="#!/MathFacts/1/999/100/1/999/100/1">Subtraction</a>
        <a href="#!/MathFacts/2/100/1/1/5/5/1">Multiplication By 5s</a>
        <a href="#!/MathFacts/3/500/20/1/20/2/1">Division</a>
        <a href="#!/volume">Volume</a>
        <a href="#!/conversions">Conversion</a>
        <a href="{{x.problemURL}}" ng-repeat="x in notes">
          {{x.message}}
        </a>
      </div>
    </div>

    <div class="col-md-10">
      <!--Body content-->
      <!--
	<div class="prgGrid"><p>Progress Report</p>
	<button>Best Categories</button>
	<button>Improvable Categories</button>
	<button>Most Practiced</button>
	<table style="height:80%; overflow:hidden;">
	<tr>
	<td>Date Attempted</td>
	<td>Problem Set</td>
	<td>Score</td>
	</tr>
	<tr><td>3-21-18</td><td>Problem Set 1</td><td>7/10</td</tr>
	<tr><td>3-21-18</td><td>Problem Set 1</td><td>7/10</td</tr>
	<tr><td>3-21-18</td><td>Problem Set 1</td><td>7/10</td</tr>
	<tr><td>3-21-18</td><td>Problem Set 1</td><td>7/10</td</tr>
	<tr><td>3-21-18</td><td>Problem Set 1</td><td>7/10</td</tr>
	<tr><td>3-21-18</td><td>Problem Set 1</td><td>7/10</td</tr>
	</table>
	</div>
-->
      <!--
      <div text-align = "center" class="stdList">
	<p>Suggested Problem Sets</p>
	<li><a>ProblemSet</a></li>
	<li><a>ProblemSet</a></li>
	<li><a>ProblemSet</a></li>
	<li><a>ProblemSet</a></li>
	<li><a>ProblemSet</a></li>
	<li><a>ProblemSet</a></li>
	<li><a>ProblemSet</a></li>
      </div>
          </div>
-->
      <script>
        mathCanvasDone = 1;
        var waitForTransition = function (tG, type) {
          if (type == 1) {
            tG.style.opacity = "100";
          }
          else {
            tG.style.width = "90%";
            tG.style.left = "10%";
          }
        }



        function toggleMenu() {
          var width;
          clearTimeout(waitForTransition);
          var bG = document.getElementById("bg");
          var sN = document.getElementById("mathSB");
          var sT;
          var cT;
          if (sN.style.opacity == "0") {
            sT = Date.now();
            bG.style.left = "20%";
            bG.style.width = "80%";
            setTimeout(waitForTransition
              , 500, sN, 1);
          } else {
            sN.style.opacity = "0";
            setTimeout(waitForTransition
              , 500, bG, 0);
          }
        }

      </script>

      <script>



        function addStudents() {
          // Get the modal
          var modal = document.getElementById('addStudentsModal');

          // Get the button that opens the modal
          var btn = document.getElementById("addStudents");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks on the button, open the modal
          btn.onclick = function () {
            modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function () {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        }

        function getRandCode() {
    /*var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < 10; i++)
      text += possible.charAt(Math.floor(Math.random() * possible.length));
    */;
          Student.generateHash(firebase, firebase.auth().currentUser.uid, new Date()).then(
            function (result) {
              document.getElementById("code").innerHTML = result;
            }
          );
        }
      </script>
    </div>